//Variáveis para não precisar repetir tanto no código e também poder modificar com mais facilidade

//Cores
$cor-principal: blueviolet;
$cor-secundaria: aqua;

//No sass podemos usar funções para reutilizar código
@mixin reset {
    margin: 0;
    padding: 0;
}
body {
    @include reset
}

//Função do container, onde dentro da função é possível criar parâmetros
@mixin cor-e-texto ($cor-de-fundo, $cor-do-texto) {
    width: 50%;
    background-color: $cor-de-fundo;
    .texto{
        color: $cor-do-texto;
        margin-top: 40%;
        text-align: center;
        font-size: 80px;
    }
}

//Estilo do container feito em aninhamento, é possível estilizar tanto o lado direito quanto o esquerdo dentro da classe container, ma chamando a classe especifica
.container {
    height: 100vh;
    display: flex;

    .esquerdo{
        @include cor-e-texto($cor-principal, $cor-secundaria)
    }

    .direito{
       @include cor-e-texto($cor-secundaria, $cor-principal)
        
    }
}